<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>In</title>
        {% block css %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/estilos.css') }}" />

            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block topo %}
                <div class="container-fluid">
                    <div class="row altura-topo">
                        <div class="col-md-2 col-xs-2 bkg-verde"></div>
                        <div class="col-md-1 col-xs-1">
                            <div class="row altura-topo">
                                <div class="col-md-10 col-xs-10 coluna-topo bkg-roxo"></div>
                                <div class="col-md-2 col-xs-2 coluna-topo bkg-laranja"></div>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-1">
                            <div class="row altura-topo">
                                <div class="col-md-12 col-xs-12 bkg-laranja"></div>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-1">
                            <div class="row altura-topo">
                                <div class="col-md-10 col-xs-10 coluna-topo bkg-laranja"></div>
                                <div class="col-md-2 col-xs-2 coluna-topo bkg-rosa"></div>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-1">
                            <div class="row altura-topo">
                                <div class="col-md-8 col-xs-8 bkg-rosa"></div>
                                <div class="col-md-4 col-xs-4 bkg-verde"></div>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-1 bkg-verde"></div>
                        <div class="col-md-1 col-xs-1">
                            <div class="row altura-topo">
                                <div class="col-md-4 col-xs-4 bkg-verde"></div>
                                <div class="col-md-8 col-xs-8 bkg-roxo"></div>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-1 bkg-roxo"></div>
                        <div class="col-lg-1 col-md-1 col-xs-1">
                            <div class="row altura-topo">
                                <div class="col-md-4 col-xs-4 bkg-roxo"></div>
                                <div class="col-md-8 col-xs-8 bkg-laranja"></div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-xs-1">
                            <div class="row altura-topo">
                                <div class="col-md-2 col-xs-2 coluna-topo bkg-laranja"></div>
                                <div class="col-md-10 col-xs-10 coluna-topo bkg-rosa"></div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-xs-1 bkg-rosa"></div>
                    </div>
                </div>
                <div id="caixa-topo">
                    <div class="container">
                        <nav class="navbar navbar-expand" id="menu-principal">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" 
                                            data-target="#navbarContent" aria-controls="navbarContent" 
                                            aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <a href="{{ path('site_homepage') }}" class="navbar-brand" id="logo">INTEGRA</a>
                                </div>
                                <div class="collapse navbar-collapse float-right" id="navbarContent">
                                    <ul class="navbar-nav" id="menu">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ path('site_homepage') }}">INTEGRA</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ path('site_homepage') }}">ANA PAULA MUKARZEL</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ path('site_homepage') }}">ESPECIALIDADES</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ path('site_homepage') }}">BLOG</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ path('site_homepage') }}">CONTATO</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                
                
            {% endblock topo %}
        {% block conteudo %}{% endblock %}
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery.slim.min.js') }}"></script>
            <script src="{{ asset('js/popper.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{#            <script src="{{ asset('js/scrollify.min.js') }}"></script>#}
            <script src="{{ asset('js/holder.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
