{# empty Twig template #}
<p>Mensagem enviada por <strong>{{ nome }}</strong> &agrave;s 
    <strong>{{ "now" | date("d/m/Y H:i") }}</strong>.</p>

<p><strong>Email para resposta:</strong> {{ email }}</p>
<p><strong>Assunto:</strong> {{ assunto }}</p>
<p><strong>Mensagem:</strong></p>
<p>{{ mensagem }}</p>