<div class="container-fluid" style="z-index: 2000; position: absolute; top: 0">
    <div class="row altura-topo">
        <div class="col-md-2 col-sm-2 col-xs-2 bkg-verde"></div>
        <div class="col-md-1 col-sm-1 col-xs-1">
            <div class="row altura-topo">
                <div class="col-md-10 col-sm-10 col-xs-10 coluna-topo bkg-roxo"></div>
                <div class="col-md-2 col-sm-2 col-xs-2 coluna-topo bkg-laranja"></div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
            <div class="row altura-topo">
                <div class="col-md-12 col-sm-12 col-xs-12 bkg-laranja"></div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
            <div class="row altura-topo">
                <div class="col-md-10 col-sm-10 col-xs-10 coluna-topo bkg-laranja"></div>
                <div class="col-md-2 col-sm-2 col-xs-2 coluna-topo bkg-rosa"></div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
            <div class="row altura-topo">
                <div class="col-md-8 col-sm-8 col-xs-8 bkg-rosa"></div>
                <div class="col-md-4 col-sm-4 col-xs-4 bkg-verde"></div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 bkg-verde"></div>
        <div class="col-md-1 col-sm-1 col-xs-1">
            <div class="row altura-topo">
                <div class="col-md-4 col-sm-4 col-xs-4 bkg-verde"></div>
                <div class="col-md-8 col-sm-8 col-xs-8 bkg-roxo"></div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 bkg-roxo"></div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="row altura-topo">
                <div class="col-md-4 col-sm-4 col-xs-4 bkg-roxo"></div>
                <div class="col-md-8 col-sm-8 col-xs-8 bkg-laranja"></div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="row altura-topo">
                <div class="col-md-2 col-sm-2 col-xs-2 coluna-topo bkg-laranja"></div>
                <div class="col-md-10 col-sm-10 col-xs-10 coluna-topo bkg-rosa"></div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bkg-rosa"></div>
    </div>
</div>
<div id="caixa-topo">
    <div class="container">
        <nav class="navbar navbar-expand" id="menu-principal">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" 
                            data-target="#navbarContent" aria-controls="navbarContent" 
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a href="{{ path('site_homepage') }}" class="navbar-brand" id="logo">
                        <img src="{{ asset('imagens/logo-interno.png') }}" class="img mh-100" /></a>
                </div>
                <div class="collapse navbar-collapse float-right of-serif-itc" id="navbarContent">
                    <ul class="navbar-nav" id="menu">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('site_integra') }}">INTEGRA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('site_ana') }}">ANA PAULA MUKARZEL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('site_especialidades') }}">ESPECIALIDADES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('site_blog') }}">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('site_contato') }}">CONTATO</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>