{% extends "base.html.twig" %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.mosaic.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/jquery.fullpage.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/lightbox.min.css') }}" />
{% endblock %}
{% block topo %}{% endblock %}
{% block conteudo %}
    <div class="container-fluid p-0 mw-100" id="fullpage">
        <div class="row text-center p-0 m-0 secao mw-100">
            <!-- BANNER -->
            <div id="banner" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for banner in banners %}
                        
                        {% if loop.index == 1 %}
                            <li data-target="#banner" data-slide-to="{{ loop.index0 }}" class="active"></li>
                        {% else %}
                            <li data-target="#banner" data-slide-to="{{ loop.index0 }}"></li>
                        {% endif %}
                        
                    {% endfor %}
                    
                </ol>
                <div class="carousel-inner">
                    
                    {% for banner in banners %}
                        
                        {% if loop.index == 1 %}
                            <div class="carousel-item active" 
                                 data-bg="{{ asset('uploads/banner/'~banner.imagem) }}"
                                 data-bg-mob="{{ asset('uploads/banner/'~banner.imagemMob) }}"
                                 style="background-image: url('{{ asset('uploads/banner/'~banner.imagem) }}'); 
                                background-size: cover; 
                                background-position: center">
                               <div class="carousel-caption">
                                   <a href="{{ banner.link }}" target="_blank" class="btn btn-outline-roxo" style="margin-bottom: 10%">Saiba Mais</a>
                               </div>

                           </div>
                        {% else %}
                            <div class="carousel-item" 
                                 data-bg="{{ asset('uploads/banner/'~banner.imagem) }}"
                                 data-bg-mob="{{ asset('uploads/banner/'~banner.imagemMob) }}"
                                 style="background-image: url('{{ asset('uploads/banner/'~banner.imagem) }}'); 
                                background-size: cover; 
                                background-position: center">
                               <div class="carousel-caption">
                                   <a href="{{ banner.link }}" target="_blank" class="btn btn-outline-warning" style="margin-bottom: 10%">Saiba Mais</a>
                               </div>

                           </div>
                        {% endif %}
                        
                    {% endfor %}
                </div>
            </div>
            <!-- FIM BANNER -->

            <!-- MENU -->
            {% include '@Site/Component/menu.html.twig' %}
            <!-- FIM MENU -->

        </div>
        <div class="row p-0 m-0 mw-100 secao" id="ana-paula-mukarzel">
            <div class="col-md-8 col-lg-8 offset-md-2 offset-lg-2">
                <div class="row">
                    <div class="col-md-5 col-lg-4 col-5 offset-1">
                        <img src="{{ asset('imagens/foto.png') }}" class="img rounded-circle mw-100 mx-auto" />
                    </div>
                    <div class="col-md-6 col-6 d-inline-block">
                        <h4 id="titulo-nome" class="text-left">Ana Paula Mukarzel</h4>
                        <p class="text-left of-serif-itc text-comum">Ana Paula Mukarzel &eacute; professora, pedagoga e fonoaudi&oacute;loga. 
                            Mestre em Ci&ecirc;ncias da Educa&ccedil;&atilde;o, P&oacute;s-Graduada em Comunica&ccedil;&atilde;o e Sa&uacute;de 
                            e P&oacute;s-Graduanda em Neuropsicologia e em Psicomotricidade. Sua experi&ecirc;ncia de 13 anos em sala de aula 
                            despertou o interesse sobre desenvolvimento infantil, linguagem e aprendizagem.</p>
                        <a href="{{ path('site_ana') }}" class="btn btn-outline-warning of-serif-os laranja-nome">SAIBA MAIS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-0 m-0 mw-100 text-center secao" id="video"
             style="background-image: url('{{ asset('imagens/holder-fundo-play.png') }}'); 
                                background-size: cover; 
                                background-position: center">
            <div class="col-md-12">
                <img src="{{ asset('imagens/holder-play.png') }}" class="img rounded-circle mx-auto m-5" />
            </div>
        </div>
        <div class="secao" id="especialidades">
            <div class="row p-0 m-0 mw-100">
                <div class="col-md-12">
                    <h3 class="text-center of-serif-os roxo-texto" id="titulo-engrenagens">NOSSAS ENGRENAGENS</h3>
                </div>
            </div>
            <div class="row p-0 m-0 mw-100">
                <div class="col-md-10 offset-md-1">
                    <div class="row">
                        <div class="col-md-3 col-6">
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <div class="card card-engrenagens mb-5">
                                        <div class="card-img">
                                            <img src="{{ asset('imagens/icone-cognicao.png') }}" class="img icone-engrenagens" />
                                        </div>
                                        <div class="card-body">
                                            <h5 class="text-center of-serif-os titulo-engrenagens" id="titulo-cognicao">COGNI&Ccedil;&Atilde;O</h5>
                                            <p class="text-comum of-serif-itc">&Eacute; o ato ou processo da aquisi&ccedil;&atilde;o do conhecimento que se d&aacute; atrav&eacute;s da 
                                                percep&ccedil;&atilde;o, da aten&ccedil;&atilde;o, associa&ccedil;&atilde;o, mem&oacute;ria, 
                                                racioc&iacute;nio, ju&iacute;zo, imagina&ccedil;&atilde;o, pensamento e linguagem.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <div class="card card-engrenagens mb-5">
                                        <div class="card-img">
                                            <img src="{{ asset('imagens/icone-linguagem.png') }}" class="img icone-engrenagens" />
                                        </div>
                                        <div class="card-body">
                                            <h5 class="text-center of-serif-os titulo-engrenagens" id="titulo-linguagem">LINGUAGEM</h5>
                                            <p class="text-comum of-serif-itc">Linguagem verbal e linguagem n&atilde;o-verbal s&atilde;o utilizadas com meios sonoros, 
                                                gr&aacute;ficos ou atrav&eacute;s de gestos faciais, orais, corporais; vocaliza&ccedil;&otilde;es, 
                                                atitudes r&iacute;tmicas, m&uacute;sica, tom de voz e dramatiza&ccedil;&atilde;o.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <div class="card card-engrenagens mb-5">
                                        <div class="card-img">
                                            <img src="{{ asset('imagens/icone-sentidos.png') }}" class="img icone-engrenagens" />
                                        </div>
                                        <div class="card-body">
                                            <h5 class="text-center of-serif-os titulo-engrenagens" id="titulo-sentidos">SENTIDOS</h5>
                                            <p class="text-comum of-serif-itc">N&oacute;s produzimos uma variedade de sensa&ccedil;&otilde;es, que s&atilde;o percebidas 
                                                pelo sistema nervoso e aos nossos &oacute;rg&atilde;os dos sentidos. Essas informa&ccedil;&otilde;es, 
                                                atrav&eacute;s do sistema nervoso, ter&atilde;o respostas volunt&aacute;rias ou involunt&aacute;rias.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <div class="card card-engrenagens mb-5">
                                        <div class="card-img">
                                            <img src="{{ asset('imagens/icone-comportamento.png') }}" class="img icone-engrenagens" />
                                        </div>
                                        <div class="card-body">
                                            <h5 class="text-center of-serif-os titulo-engrenagens" id="titulo-comportamento">COMPORTAMENTO</h5>
                                            <p class="text-comum of-serif-itc">Comportamento &eacute; a forma de proceder que as pessoas ou os &oacute;rg&atilde;os tem diante dos diversos 
                                                est&iacute;mulos que recebem e em rela&ccedil;&atilde;o ao ambiente no qual se desenvolvem.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="secao" style="top: 0" id="fotos">
            <div class="row p-0 m-0 mw-100 text-center">
                <div class="col-md-12 col-12 p-0 m-0 grid">
                    {% for foto in fotos %}
                        <a href="{{ asset('uploads/foto/'~foto.imagem) }}" data-lightbox="fotos" data-title="{{ foto.legenda }}" class="grid-item" >
                            <img src="{{ asset('/uploads/foto/'~foto.imagem) | imagine_filter('thumb_fotos') }}" class="img" /></a>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 text-center">
                    <br /><br /><br /><br />
                    <a href="{{ path('site_fotos') }}" class="btn btn-outline-primary">VEJA MAIS</a>
                    <br /><br /><br /><br />
                </div>
            </div>
        </div>
        <div class="secao p-0 m-0 mw-100" id="depoimento">
            <div class="row p-0 m-0">
                <div class="col-md-2 col-2 offset-md-5 offset-5 p-0 text-center">
                    <span class="aspa-depoimento playfair">“</span>
                </div>
            </div>
            <div class="row p-0 m-0">
                <div class="col-md-6 col-6 offset-md-3 offset-3 p-0 text-center">
                    <p class="playfair texts">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend augue ac tincidunt suscipit. 
                        Nunc sollicitudin mattis faucibus. Vivamus rhoncus viverra risus, sed pellentesque nulla congue nec. 
                        Fusce venenatis, odio vitae viverra porta, risus elit mollis eros, sed tincidunt lorem dolor id nisl. 
                        Nullam cursus arcu ut porta placerat. Fusce sit amet commodo ipsum, quis pulvinar purus. 
                        Curabitur risus urna, vehicula id convallis vitae, aliquet id diam. Cras id nulla a tellus malesuada 
                        vestibulum non ac arcu. Sed eu gravida nibh, et luctus arcu. Sed quam sapien, mollis ut ante in, aliquam aliquam libero.</p>
                    <h4>Lorem Ipsum Generator<br /><small>CEO</small></h4>
                </div>
            </div>
        </div>
        <div class="row p-0 m-0 secao" id="contato">
            <div class="col-md-4 col-4 offset-md-2 offset-2 float-left" id="coluna-contato">
                <h3 id="titulo-contato" class="of-serif-os laranja-nome">CONTATO</h3>
                <form name="form-contato" id="form-contato" method="POST" 
                      action="{{ path('site_processa_contato') }}">
                    <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome" />
                    <br />
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email" />
                    <br />
                    <input type="text" name="assunto" id="assunto" class="form-control" placeholder="Assunto" />
                    <br />
                    <textarea name="mensagem" id="mensagem" rows="5" class="form-control" placeholder="Mensagem"></textarea>
                    <br />
                    <input type="submit" value="Enviar" class="btn btn-outline-warning" id="btn-submit" 
                           data-loading-text="Enviando mensagem..." />
                </form>
            </div>
            <div class="col-md-4 col-4 float-left">
                <div id="mapa" class="mx-auto mh-100 mw-100"></div>
            </div>
        </div>
        <div class="row p-0 m-0 pt-5 secao fp-auto-height" id="rodape">
            <div class="col-md-8 col-12 offset-md-2 pl-5">
                <div class="row">
                    <div class="col-md-4 col-4 mt-5 float-left">
                        <img src="{{ asset('imagens/logo.png') }}" class="img" />
                        <p class="of-serif-itc">A equipe integra traz como diferencial o olhar e o trabalho globalizado e transdisciplinar!</p>
                    </div>
                    <div class="col-md-4 col-4 mt-5 float-left">
                        <div class="row">
                            <div class="col-md-1 col-1 mr-1">
                                <img src="{{ asset('imagens/icone-marker.png') }}" class="img" />
                            </div>
                            <div class="col-md-10 col-10">
                                <p class="of-serif-itc">Rua Dom Guilherme, n&ordm; 227<br />Centro - Barra do Pira&iacute; - RJ</p>
                                <p class="of-sans-itc" style="font-weight: bold">(24) 2443-1810<br />(24) 98881-7186</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-4 mt-5 float-left">
                        <form class="form-inline">
                            <input type="text" class="form-control mr-2" name="news" id="news" 
                                   placeholder="Assine nossa newsletter" />
                            <button class="btn"><img src="{{ asset('imagens/icone-news.png') }}" class="img" /></button>
                        </form>
                        <br />
                        <a href="#" class="links-sociais">
                            <img src="{{ asset('imagens/icone-facebook.png') }}" 
                                 class="img rounded-circle" />
                        </a>
                        &nbsp;<a href="#" class="links-sociais">
                            <img src="{{ asset('imagens/icone-instagram.png') }}" 
                                 class="img rounded-circle" />
                        </a>
                        &nbsp;<a href="#" class="links-sociais">
                            <img src="{{ asset('imagens/icone-youtube.png') }}" 
                                 class="img rounded-circle" />
                        </a>
                        <br /><br />
                        <small>Website desenvolvido por Start Publicidade</small>
                    </div>
                </div>
                <br /><br />
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.fullpage.js') }}"></script>
    <script src="{{ asset('js/jquery.mosaic.min.js') }}"></script>
    <script src="{{ asset('js/lightbox.min.js') }}"></script>
    <script src="{{ asset('js/jquery.form.min.js') }}"></script>
    <script src="{{ asset('js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyBCwTHtZ8FISJVAcdzOR3mikpXymzAcU2c"></script>
    <script type="text/javascript" src="{{ asset('js/maps.js') }}"></script>
    <script type="text/javascript">
        
        function goToByScroll(id){
            // Remove "link" from the ID
            id = id.replace("link", "");
              // Scroll
            $('#conteudo').animate({
                scrollTop: $(id).offset().top},
                'slow');
        }
        
        $(document).ready(function () {
            
            $('.nav-link').click(function(){
                
                switch($(this).data('href')){
                    case '#ana-paula-mukarzel':
                        $.fn.fullpage.moveTo(2);
                        break;
                    case '#especialidades':
                        $.fn.fullpage.moveTo(4);
                        break;
                    case '#contato':
                        $.fn.fullpage.moveTo(7);
                        break;
                }
                
                return false;
            });
            
            lightbox.option({
                'albumLabel': "Imagem %1 de %2",
                'wrapAround': true
            });
            
            $altura = $('#coluna-contato').height();
            $('#mapa').height($altura);
            
            $largura = $(window).width();
            
            if($largura > 768){
                $('#fullpage').fullpage({
                    sectionSelector: '.secao',
                    fitToSection: true
                });
            } else{
                $('#fullpage').fullpage({
                    sectionSelector: '.secao',
                    autoScrolling: false
                });
            }

            $('.grid').Mosaic({
                maxRowHeight: 200,
                maxRowHeightPolicy: 'skip'
            });
            
            var largura = $(window).width();

            if (largura <= 768){

                $('.carousel-inner .carousel-item').each(function () {

                    if($(this).data('bg-mob') != '{{ asset('uploads/banner/') }}'){
                        $bgMob = $(this).data('bg-mob');
                        $(this).css('background-image', 'url(' + $bgMob + ')');
                    } else{
                        $bg = $(this).data('bg');
                        $(this).css('background-image', 'url(' + $bg + ')');
                    }

                });
                
            } else {
                $('.carousel-inner .carousel-item').each(function () {
                    $bg = $(this).data('bg');
                    $(this).css('background-image', 'url(' + $bg + ')');

                });
                
            }
            
            $('#form-contato').validate({
                rules: {
                    'nome': "required",
                    'email':{
                        required: true,
                        email: true
                    },
                    'assunto': {
                        required: true
                    },
                    'mensagem': {
                        required: true
                    }
                },
                messages: {
                    'nome': "Por favor informe seu nome",
                    'email':{
                        required: "Por favor informe seu email",
                        email: "Por favor informe um email válido"
                    },
                    'assunto': {
                        required: "Por favor informe o assunto"
                    },
                    'mensagem': {
                        required: "Por favor digite sua mensagem"
                    }
                },
                submitHandler: function(form) {
                    
                    $('#btn-submit').val("Enviando...");
                    $('#btn-submit').attr('disabled', 'disabled');
                    
                    $(form).ajaxSubmit({
                        success: function(){
                            alert("Mensagem enviada. Obrigado!");
                            $(form)[0].reset();
                            $('#btn-submit').val("Enviar");
                            $('#btn-submit').attr('disabled', 'enabled');
                        },
                        error: function(){
                            alert("Houve erro ao processar sua mensagem. Por favor tente novamente.");
                            $('#btn-submit').val("Enviar");
                            $('#btn-submit').attr('disabled', 'enabled');
                        }
                    });
                }
            });
            
        });
    </script>
{% endblock %}