{% extends "base.html.twig" %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.fullpage.css') }}" />
{% endblock %}
{% block topo %}{% endblock %}
{% block conteudo %}
    <div class="container-fluid p-0 mw-100" id="fullpage">
        <div class="row text-center p-0 m-0 secao mw-100" data-section-name="A">
            <!-- BANNER -->
            <div id="banner" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#banner" data-slide-to="0" class="active"></li>
                    <li data-target="#banner" data-slide-to="1"></li>
                    <li data-target="#banner" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" style="background-image: url('{{ asset('imagens/teste.jpg') }}'); background-size: cover">
                        <div class="carousel-caption">
                            <a href="#" class="btn btn-outline-warning" style="margin-bottom: 10%">Saiba Mais</a>
                        </div>

                    </div>
                    <div class="carousel-item" style="background-image: url('{{ asset('imagens/holder-banner.png') }}'); background-size: cover">
                        <a href="#" class="btn btn-outline-warning">Saiba Mais</a>
                    </div>
                    <div class="carousel-item" style="background-image: url('{{ asset('imagens/holder-banner.png') }}'); background-size: cover">
                        <a href="#" class="btn btn-outline-warning">Saiba Mais</a>
                    </div>
                </div>
            </div>
            <!-- FIM BANNER -->

            <!-- MENU -->
            <div class="container-fluid" style="z-index: 2000; position: absolute; top: 0">
                <div class="row altura-topo">
                    <div class="col-md-2 col-sm-2 col-xs-2 bkg-verde"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1">
                        <div class="row altura-topo">
                            <div class="col-md-10 col-sm-10 col-xs-10 coluna-topo bkg-roxo"></div>
                            <div class="col-md-2 col-sm-2 col-xs-2 coluna-topo bkg-laranja"></div>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1">
                        <div class="row altura-topo">
                            <div class="col-md-12 col-sm-12 col-xs-12 bkg-laranja"></div>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1">
                        <div class="row altura-topo">
                            <div class="col-md-10 col-sm-10 col-xs-10 coluna-topo bkg-laranja"></div>
                            <div class="col-md-2 col-sm-2 col-xs-2 coluna-topo bkg-rosa"></div>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1">
                        <div class="row altura-topo">
                            <div class="col-md-8 col-sm-8 col-xs-8 bkg-rosa"></div>
                            <div class="col-md-4 col-sm-4 col-xs-4 bkg-verde"></div>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1 bkg-verde"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1">
                        <div class="row altura-topo">
                            <div class="col-md-4 col-sm-4 col-xs-4 bkg-verde"></div>
                            <div class="col-md-8 col-sm-8 col-xs-8 bkg-roxo"></div>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1 bkg-roxo"></div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <div class="row altura-topo">
                            <div class="col-md-4 col-sm-4 col-xs-4 bkg-roxo"></div>
                            <div class="col-md-8 col-sm-8 col-xs-8 bkg-laranja"></div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <div class="row altura-topo">
                            <div class="col-md-2 col-sm-2 col-xs-2 coluna-topo bkg-laranja"></div>
                            <div class="col-md-10 col-sm-10 col-xs-10 coluna-topo bkg-rosa"></div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bkg-rosa"></div>
                </div>
            </div>
            <div id="caixa-topo">
                <div class="container">
                    <nav class="navbar navbar-expand" id="menu-principal">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" 
                                        data-target="#navbarContent" aria-controls="navbarContent" 
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <a href="{{ path('site_homepage') }}" class="navbar-brand" id="logo">INTEGRA</a>
                            </div>
                            <div class="collapse navbar-collapse float-right" id="navbarContent">
                                <ul class="navbar-nav" id="menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('site_homepage') }}">INTEGRA</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('site_homepage') }}">ANA PAULA MUKARZEL</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('site_homepage') }}">ESPECIALIDADES</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('site_homepage') }}">BLOG</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('site_homepage') }}">CONTATO</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- FIM MENU -->

        </div>
        <div class="row p-0 m-0 mw-100 secao" data-section-name="A">
            <div class="col-md-6 offset-md-3">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{ asset('imagens/holder-foto.png') }}" class="img rounded-circle mh-100" />
                    </div>
                    <div class="col-md-7 offset-md-2 d-inline-block" style="padding-top: 5%">
                        <h4 id="titulo-nome" class="text-left">ANA PAULA MUKARZEL</h4>
                        <p class="text-left">Ana Paula Mukarzel &eacute; professora, pedagoga e fonoaudi&oacute;loga. 
                            Mestre em Ci&ecirc;ncias da Educa&ccedil;&atilde;o, P&oacute;s-Gtraduada em Comunica&ccedil;&atilde;o e Sa&uacute;de 
                            e P&oacute;s-Graduanda em Neuropsicologia e em Psicomotricidade. Sua experi&ecirc;ncia de 13 anos em sala de aula 
                            despertou o interesse sobre desenvolvimento infantil, linguagem e aprendizagem.</p>
                        <a href="#" class="btn btn-outline-warning">SAIBA MAIS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-0 m-0 mw-100 text-center secao" id="video" data-section-name="A">
            <div class="col-md-12">
                <img src="{{ asset('imagens/holder-play.png') }}" class="img rounded-circle mx-auto m-5" />
            </div>
        </div>
        <div class="secao" data-section-name="A">
            <div class="row p-0 m-0 mw-100">
                <div class="col-md-12">
                    <h3 class="text-center" id="titulo-engrenagens">NOSSAS ENGRENAGENS</h3>
                </div>
            </div>
            <div class="row p-0 m-0 mw-100">
                <div class="col-md-2 offset-md-2">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="card card-engrenagens mb-5">
                                <div class="card-img">
                                    <img src="{{ asset('imagens/holder-icone.png') }}" class="img icone-engrenagens" />
                                </div>
                                <div class="card-body">
                                    <h5 class="text-center" id="titulo-cognicao">COGNI&Ccedil;&Atilde;O</h5>
                                    <p>&Eacute; o ato ou processo da aquisi&ccedil;&atilde;o do conhecimento que se d&aacute; atrav&eacute;s da 
                                        percep&ccedil;&atilde;o, da aten&ccedil;&atilde;o, associa&ccedil;&atilde;o, mem&oacute;ria, 
                                        racioc&iacute;nio, ju&iacute;zo, imagina&ccedil;&atilde;o, pensamento e linguagem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="card card-engrenagens mb-5">
                                <div class="card-img">
                                    <img src="{{ asset('imagens/holder-icone.png') }}" class="img icone-engrenagens" />
                                </div>
                                <div class="card-body">
                                    <h5 class="text-center" id="titulo-linguagem">LINGUAGEM</h5>
                                    <p>Linguagem verbal e linguagem n&atilde;o-verbal s&atilde;o utilizadas com meios sonoros, 
                                        gr&aacute;ficos ou atrav&eacute;s de gestos faciais, orais, corporais; vocaliza&ccedil;&otilde;es, 
                                        atitudes r&iacute;tmicas, m&uacute;sica, tom de voz e dramatiza&ccedil;&atilde;o.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="card card-engrenagens mb-5">
                                <div class="card-img">
                                    <img src="{{ asset('imagens/holder-icone.png') }}" class="img icone-engrenagens" />
                                </div>
                                <div class="card-body">
                                    <h5 class="text-center" id="titulo-sentidos">SENTIDOS</h5>
                                    <p>N&oacute;s produzimos uma variedade de sensa&ccedil;&otilde;es, que s&atilde;o percebidas 
                                        pelo sistema nervoso e aos nossos &oacute;rg&atilde;os dos sentidos. Essas informa&ccedil;&otilde;es, 
                                        atrav&eacute;s do sistema nervoso, ter&atilde;o respostas volunt&aacute;rias ou involunt&aacute;rias.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="card card-engrenagens mb-5">
                                <div class="card-img">
                                    <img src="{{ asset('imagens/holder-icone.png') }}" class="img icone-engrenagens" />
                                </div>
                                <div class="card-body">
                                    <h5 class="text-center" id="titulo-comportamento">COMPORTAMENTO</h5>
                                    <p>Comportamento &eacute; a forma de proceder que as pessoas ou os &oacute;rg&atilde;os tem diante dos diversos 
                                        est&iacute;mulos que recebem e em rela&ccedil;&atilde;o ao ambiente no qual se desenvolvem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="secao" data-section-name="A" style="top: 0">
            <div class="row p-0 m-0 mw-100 text-center">
                <div class="col-md-12 p-0 m-0 grid">
                    <img src="{{ asset('imagens/holder-galeria.png') }}" class="img grid-item" />
                    <img src="{{ asset('imagens/holder-galeria.png') }}" class="img grid-item" />
                    <img src="{{ asset('imagens/holder-galeria.png') }}" class="img grid-item" />
                    <img src="{{ asset('imagens/holder-galeria.png') }}" class="img grid-item" />
                    <img src="{{ asset('imagens/holder-galeria.png') }}" class="img grid-item" />
                    <img src="{{ asset('imagens/holder-galeria.png') }}" class="img grid-item" />
                    <img src="{{ asset('imagens/holder-galeria.png') }}" class="img grid-item" />
                    <img src="{{ asset('imagens/holder-galeria.png') }}" class="img grid-item" />
                    <img src="{{ asset('imagens/holder-galeria.png') }}" class="img grid-item" />
                    <img src="{{ asset('imagens/holder-galeria.png') }}" class="img grid-item" />
                    <img src="{{ asset('imagens/holder-galeria.png') }}" class="img grid-item" />
                    <img src="{{ asset('imagens/holder-galeria.png') }}" class="img grid-item" />
                    <img src="{{ asset('imagens/holder-galeria.png') }}" class="img grid-item" />
                    <img src="{{ asset('imagens/holder-galeria.png') }}" class="img grid-item" />
                    <img src="{{ asset('imagens/holder-galeria.png') }}" class="img grid-item" />
                    <img src="{{ asset('imagens/holder-galeria.png') }}" class="img grid-item" />
                    <img src="{{ asset('imagens/holder-galeria.png') }}" class="img grid-item" />
                    <img src="{{ asset('imagens/holder-galeria.png') }}" class="img grid-item" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <br /><br /><br /><br />
                    <a href="#" class="btn btn-outline-primary">VER MAIS</a>
                    <br /><br /><br /><br />
                </div>
            </div>
        </div>
        <div class="secao p-0 m-0 mw-100" id="depoimento" data-section-name="A">
            <div class="row p-0 m-0">
                <div class="col-md-2 offset-md-5 p-0 text-center">
                    <span class="aspa-depoimento">"</span>
                </div>
            </div>
            <div class="row p-0 m-0">
                <div class="col-md-6 offset-md-3 p-0 text-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend augue ac tincidunt suscipit. 
                        Nunc sollicitudin mattis faucibus. Vivamus rhoncus viverra risus, sed pellentesque nulla congue nec. 
                        Fusce venenatis, odio vitae viverra porta, risus elit mollis eros, sed tincidunt lorem dolor id nisl. 
                        Nullam cursus arcu ut porta placerat. Fusce sit amet commodo ipsum, quis pulvinar purus. 
                        Curabitur risus urna, vehicula id convallis vitae, aliquet id diam. Cras id nulla a tellus malesuada 
                        vestibulum non ac arcu. Sed eu gravida nibh, et luctus arcu. Sed quam sapien, mollis ut ante in, aliquam aliquam libero.</p>
                    <h4>Lorem Ipsum Generator<br /><small>CEO</small></h4>
                </div>
            </div>
        </div>
        <div class="row p-0 m-0 secao" data-section-name="A">
            <div class="col-md-3 offset-md-3 float-left">
                <h4 id="titulo-contato">CONTATO</h4>
                <form>
                    <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome" />
                    <br />
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email" />
                    <br />
                    <input type="text" name="assunto" id="assunto" class="form-control" placeholder="Assunto" />
                    <br />
                    <textarea name="mensagem" id="mensagem" rows="5" class="form-control" placeholder="Mensagem"></textarea>
                    <br />
                    <input type="submit" value="Enviar" class="btn btn-outline-warning" />
                </form>
            </div>
            <div class="col-md-3 float-left">
                <img src="{{ asset('imagens/holder-mapa.png') }}" class="img mw-100" />
            </div>
        </div>
        <div class="row p-0 m-0 pt-5 secao fp-auto-height" id="rodape">
            <div class="col-md-2 offset-md-3 mt-5 float-left">
                <img src="{{ asset('imagens/holder-logo.png') }}" class="img" />
                <p>A equipe integra traz como diferencial o olhar e o trabalho globalizado e transdisciplinar!</p>
            </div>
            <div class="col-md-2 mt-5 float-left">
                <div class="row">
                    <div class="col-md-1 mr-1">
                        <img src="{{ asset('imagens/holder-marker.png') }}" class="img" />
                    </div>
                    <div class="col-md-10">
                        <p>Rua Dom Guilherme, N&ordm; 227<br />Centro - Barra do Pira&iacute; - RJ</p>
                        <p style="font-weight: bold">(24) 2443-1810<br />(24) 98881-7186</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mt-5 float-left">
                <form class="form-inline">
                    <input type="text" class="form-control mr-2" name="news" id="news" />
                    <input type="submit" class="btn" value="Enviar" />
                </form>
                <br />
                <img src="{{ asset('imagens/holder-social.png') }}" class="img rounded-circle" />
                &nbsp;<img src="{{ asset('imagens/holder-social.png') }}" class="img rounded-circle" />
                &nbsp;<img src="{{ asset('imagens/holder-social.png') }}" class="img rounded-circle" />
                <br /><br />
                <small>Website desenvolvido por Start Publicidade</small>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.fullpage.js') }}"></script>
    <script src="{{ asset('js/masonry.pkgd.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            
            $largura = $(window).width();
            
            if($largura > 768){
                $('#fullpage').fullpage({
                    sectionSelector: '.secao',
                    fitToSection: true
                });
            } else{
                $('#fullpage').fullpage({
                    sectionSelector: '.secao',
                    autoScrolling: false
                });
            }

            $('.grid').masonry({
                // options...
                itemSelector: '.grid-item'
            });
        });
    </script>
{% endblock %}